<a id="logo" href="/">
  <img src="/assets/transparent_logo.png" alt="Logo My Watching Companion" />

  <h1>MY WATCHING<br />COMPANION</h1>
</a>

<nav>
  <a href="/" class="nav-item <% if (selected === "Accueil") { %>selected<% } %>">Accueil</a>
  <a href="/my-watchlist" class="nav-item <% if (selected === "Ma Watchlist") { %>selected<% } %>">Ma Watchlist</a>
  <a href="/discovery" class="nav-item <% if (selected === "Découverte") { %>selected<% } %>">Découverte</a>
  <a href="/trending" class="nav-item <% if (selected === "Tendance") { %>selected<% } %>">Tendance</a>
  <a href="/settings" class="nav-item <% if (selected === "Paramètres") { %>selected<% } %>">Paramètres</a>
</nav>

<% if (selected === "Connexion") { %>
<button class="sign" id="sign-up" onclick="location.href='/signup'">INSCRIPTION</button>
<% } else { %>
<button class="sign" id="sign-in" onclick="location.href='/signin'">CONNEXION</button>
<% } %>

<span id="open-sidebar" class="material-symbols-rounded" onclick="openSidebar()">
  menu
</span>