<a id="logo" href="/">
  <div id="logo">
    <img src="assets/transparent_logo.png" alt="Logo My Watching Companion" />

    <h1>MY WATCHING<br />COMPANION</h1>
  </div>
</a>

<nav>
  <a href="/" <% if (selected === "Accueil") { %>class="selected" <% } %>>Accueil</a>
  <a href="/my-watchlist" <% if (selected === "Ma Watchlist") { %> class="selected" <% } %>>Ma Watchlist</a>
  <a href="/discovery" <% if (selected === "Découverte") { %> class="selected" <% } %>>Découverte</a>
  <a href="/trending" <% if (selected === "Tendance") { %> class="selected" <% } %>>Tendance</a>
  <a href="/settings" <% if (selected === "Paramètres") { %> class="selected" <% } %>>Paramètres</a>
</nav>

<% if (selected === "Connexion") { %>
<a id="signup-button" href="/signup">INSCRIPTION</a>
<% } else if (selected === "Inscription") { %>
<a id="signin-button" href="/signin">CONNEXION</a>
<% } else { %>
<a id="signin-button" href="/signin">CONNEXION/INSCRIPTION</a>
<% } %>