<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>My Watching Companion - <%= selected %></title>

<link rel="stylesheet" href="styles/main.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />

<script src="scripts/main.js" defer></script>