<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('components/head', { selected }) %>

  <link rel="stylesheet" href="/styles/error.css">
</head>

<body>
  <header>
    <%- include('components/header', { selected }) %>
  </header>

  <%- include('components/sidebar') %>

  <section id="error">
    <img src="/assets/404.png" alt="My Watching Companion 404 Error">

    <p><i><b>La page recherchée ne semble pas exister.</b></i></p>

    <button class="main-button" onclick="window.location.href='/'">Retour à l'Accueil</button>
  </section>
</body>

</html>