<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('components/head', { selected }) %>

  <link rel="stylesheet" href="styles/forgot-password.css">

  <script src="scripts/forgot-password.js"></script>
</head>

<body>
  <header>
    <%- include('components/header', { selected }) %>
  </header>

  <%- include('components/sidebar') %>

  <main>
    <section>
      <h1>MODIFICATION DU MOT DE PASSE</h1>

      <div id="forgotten-pwd-form" class="form">
        <p id="error-box" class="invisible"></p>

        <label for="email"><b>Email</b></label>
        <input id="email" type="email" placeholder="Entrez votre adresse mail..." name="email" />

        <label class="invisible" for="question"><b></b></label>
        <input class="invisible" id="question" type="text" placeholder="Saisissez la réponse à votre question secrète..." />

        <label class="invisible" for="password"><b>Mot de Passe</b></label>
        <div class="container invisible" id="password-container">
          <input id="password" type="password" placeholder="Entrez votre mot de passe" name="password" oninput="displayPasswordNecessities(this)" />

          <span class="visibility material-symbols-rounded" onclick="toggleVisibility(this, 'password')">
            visibility_off
          </span>
        </div>

        <label class="invisible" for="confirm-password"><b>Confirmez Votre Mot de Passe</b></label>
        <div class="container invisible" id="confirm-password-container">
          <input id="confirm-password" type="password" placeholder="Confirmez votre mot de passe" name="password" oninput="displayPasswordNecessities(this)" />

          <span class="visibility material-symbols-rounded" onclick="toggleVisibility(this, 'confirm-password')">
            visibility_off
          </span>
        </div>

        <div class="invisible" id="password-necessities">
          <p>Votre nouveau mot de passe est <span id="password-strength" class="weak">faible</span>.</p>

          <ul>
            <li id="uppercase-error" class="unchecked">Votre mot de passe doit contenir 1 majuscule;</li>
            <li id="number-error" class="unchecked">Votre mot de passe doit contenir 1 chiffre;</li>
            <li id="special-error" class="unchecked">Votre mot de passe doit contenir 1 caractère spécial (&!$%...);</li>
            <li id="length-error" class="unchecked">Votre mot de passe doit contenir au moins 8 caractères;</li>
            <li id="match-error" class="unchecked">Les deux mots de passe doivent être identiques.</li>
          </ul>
        </div>

        <button id="confirm-button" onclick="checkEmail()">Confirmer</button>
      </div>
    </section>
  </main>

  <footer>
    <%- include('components/footer') %>
  </footer>
</body>

</html>