<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head', {selected: "Accueil"}) %>
  </head>
  <body>
    <header>
      <%- include('components/header', {selected: "Accueil"}) %>
    </header> 
  </body>
</html>
