<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/head', {selected: "Accueil"}) %>
  </head>
  <body>
    <header>
      <%- include('components/header', {selected: "Accueil"}) %>
    </header> 

    <body>
      <p>Hello, world !</p>
    </body>
  </body>
</html>
