<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('components/head', { selected }) %>

  <link rel="stylesheet" href="styles/my-watchlist.css">

  <script src="scripts/color-thief.js" defer></script>
  <script src="scripts/my-watchlist.js" defer></script>
</head>

<body>
  <header>
    <%- include('components/header', { selected }) %>
  </header>

  <%- include('components/sidebar') %>

  <main>
    <section id="watchlist-header">
      <div id="interactions">
        <button onclick="toggleAddArtworkModal()"><span class="material-symbols-rounded"> add </span>Ajouter un Titre</button>
      </div>

      <h1 id="selected-lists" lists="Ma Liste" onclick="toggleListSelection(this)">Vous consultez <span class="selected">Ma Liste</span> <span class="selected material-symbols-rounded"> keyboard_arrow_down </span></h1>

      <input type="text" name="quick-search" id="quick-search" oninput="debouncedLoadArtworks()" placeholder="Recherchez dans votre liste...">
    </section>

    <section id="artworks"></section>
  </main>

  <footer>
    <%- include('components/footer') %>
  </footer>

  <div id="add-artwork" hidden>
    <div id="add-artwork-container">
      <div id="texts">
        <h4 class="selected">Ajouter un nouveau titre..</h4>

        <h4 id="add-selected-lists" lists="Ma Liste" onclick="toggleListSelection(this)">Ajouter dans <span class="selected">Ma Liste</span> <span class="selected material-symbols-rounded"> keyboard_arrow_down </span></h4>
      </div>

      <input type="text" name="add-artwork-search" id="add-artwork-search" oninput="debouncedAddArtworkSearch()" placeholder="Dites-moi... Que voulez-vous ajouter ?">

      <div id="searched-artworks"></div>
    </div>
  </div>

  <div id="list-selection" hidden>
    <h4>Choisissez des listes</h4>

    <div id="user-lists">
      <p class="list selected" onclick="this.classList.toggle('selected')">Ma Liste</p>
    </div>
  </div>
</body>

</html>