<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/styles/settings.css">
<head>
    <%- include("components/head", { selected }) %>
</head>
<body>
    <header>
        <%- include("components/header" , { selected }) %>
    </header>
    
    <div class="container">
        <div class="comments">
            <div class="modif-profil list">
                <p class="comment-sidebar">Paramètre du profil</p>
                <h2 class="text-sidebar" href="../settings/profile/modifyprofile"><span class="material-symbols-rounded">person</span> Modifier le Profil</h2>
                <h2 class="text-sidebar" href="../settings/profile/notifications"><span class="material-symbols-rounded">notifications</span> Notifications</h2>
            </div>
            <div class="confidentiality list">
                <p class="comment-sidebar">Qui peut voir votre contenu</p>
                <h2 class="text-sidebar" href="../settings/confidentiality/account"><span class="material-symbols-rounded">lock</span>Confidentialité du compte</h2>
                <h2 class="text-sidebar" href="../settings/confidentiality/friends"><span class="material-symbols-rounded">stars</span>Ami(e)s proches</h2>
                <h2 class="text-sidebar" href="../settings/confidentiality/lockperson"><span class="material-symbols-rounded">block</span>Bloqués</h2>
            </div>
            <div class="watchlists list">
                <p class="comment-sidebar">Paramètres relatifs aux watchlists</p>
                <h2 class="text-sidebar" href="../settings/watchlists/confidentiality"><span class="material-symbols-rounded">lock</span>Confidentialité des Watchlists</h2>
                <h2 class="text-sidebar" href="../settings/watchlists/preferences"><span class="material-symbols-rounded">favorite</span>Préférences films</h2>
                <h2 class="text-sidebar" href="../settings/watchlists/autorisations"><span class="material-symbols-rounded">encrypted</span>Autorisations</h2>
            </div>
        </div>
    </div>
</body>
</html>