<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('components/head', { selected }) %>

  <link rel="stylesheet" href="styles/sign-in-up.css" />

  <script src="scripts/sign-up.js" defer></script>
</head>

<body>
  <header>
    <%- include('components/header', { selected }) %>
  </header>

  <%- include('components/sidebar') %>

  <section>
    <h1>INSCRIPTION</h1>

    <form action="/api/register/ok" method="post">
      <label for="lastname"><b>Nom</b></label>
      <div class="container">
        <input type="text" placeholder="Entrez votre nom de famille" name="lastname" required />
      </div>

      <label for="firstname"><b>Prénom</b></label>
      <div class="container">
        <input type="text" placeholder="Entrez votre prénom" name="firstname" required />
      </div>

      <label for="birthdate"><b>Date de Naissance</b></label>
      <div class="container">
        <input type="date" placeholder="Entrez votre date de naissance" name="birthdate" required />
      </div>

      <label for="question"><b>Question de Sécurité</b></label>
      <div class="container">
        <select name="question" id="security-question" required>
        </select>
      </div>

      <label for="answer"><b>Réponse à la Question de Sécurité</b></label>
      <div class="container">
        <input type="text" placeholder="La réponse à votre question de sécurité..." name="answer" required>
      </div>

      <label for="username"><b>Nom d'Utilisateur</b></label>
      <div class="container">
        <input type="text" placeholder="Entrez votre nom d'utilisateur" name="username" required />
      </div>

      <label for="email"><b>Email</b></label>
      <div class="container">
        <input type="email" placeholder="Entrez votre adresse mail" name="email" required />
      </div>

      <label for="password"><b>Mot de Passe</b></label>
      <div class="container">
        <input id="password" type="password" placeholder="Entrez votre mot de passe" name="password" required />

        <span class="visibility material-symbols-rounded" onclick="toggleVisibility(this, 'password')">
          visibility_off
        </span>
      </div>

      <div class="signin-utilities">
        <label>
          <input type="checkbox" name="confirm" /> Je confirme la validité des informations spécifiées, y compris le nom, prénom ainsi que mon âge.
        </label>
      </div>

      <button type="submit">Créer mon Compte</button>

      <p id="sign-in-up-switcher">Vous avez déjà un compte ? <a href="/signin">Connectez-vous</a>.</p>
    </form>
  </section>
</body>

</html>